.innerSection {
  text-align: center;
  padding: 0px;
  border-radius: 60px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.introduction,
.stats,
.video,
.prevention,
.simul {
  margin: auto;
  padding: 0;
}
