#scrollContainer {
  background-color: white;
  height: 100%;
  text-align: center;
}
.page5,
.page4,
.page3,
.page2,
.page1 {
  line-height: 100vh;
  background-color: gray;
  vertical-align: middle;
  height: 100%;
  margin-top: 0px;
  font-size: 100px;
}
